
@font-face {
    font-family: "Title";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff")
    }

.bg_color {
    /* background-color: #662483; */
    background-image: linear-gradient(to bottom, #662483 15%, #461959 100%); 

}

.navbar_bg_color{
    background-color: #5dbcd2;
}

.navbar_footer_bg_color{
    background-image: linear-gradient(to bottom, #662483 74%, #2f90a9 100%); 
    /* background-color: #2f90a9; */
}

.hof_color{
  border-top: 5px solid #de69a6;
  background-color: #b88608;
}

.color_white{
	color: white;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.space{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    opacity: 0;
}

.logo_img{
    height: 120px;
    z-index: 99;
}

.logo_txt{
  height: 100px;
  z-index: 0;
}

.title_text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
}

.title_text_hall{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
}

.title-font{
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
    margin-top: 10px;
}

.chapter-text{
    text-align: center;
    margin-top: 100px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: #de69a6;
}

.simple_text{
    text-align: left;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
    padding-right: 15px;
}

.year_text_hall{
  text-align: center;
  margin-top: 10px;
  font-family: 'Title';
  font-weight:normal;
  font-style:normal;
  color: white;
}

.credits_text{
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2726";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  

.navbar-header{
    width:100%;
  }
  
.navbar-logo{
    display: block;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
  }

.navbar-brand{
    justify-content:center;
    width:100%;
    }      

.footer-settings{
    background-color: #2f90a9;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    border-top: 5px solid #de69a6;
}

.footer-inner{
    padding-right: 5px;
}

.footer-image{
    height: 35px;
    margin-top: -10px;
}

  div.scrollmenu {
    background-color: #de69a6;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
  div.scrollmenu img {
    display: inline-block;
    margin-left: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    position: static;
  }

.lastteam{
	margin-right: 14px;
}

.scrollmenu_hall_of_fame {
    background-color: #b88608;
    overflow: scroll;
    text-align: center;
    white-space: nowrap;
    display: grid;
    justify-content: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
.scrollmenu_hall_of_fame img {
    height: 70px;
  }


  /*****/
  /* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #2f90a9;
    padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: sticky; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    justify-content:center;
    text-align: center;
    border-bottom: 5px solid #662483;
  }

  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  

  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }
  
.champion-badge {
  border-radius: 0px 0px 100px 100px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgb(170, 125, 9);
  animation: pulse-yellow 2.5s infinite;
    
}

.champion-circle {
  border-radius: 70%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	box-shadow: 0 0 0 0 rgb(170, 125, 9);
  animation: pulse-yellow 2s infinite;
    
}

@keyframes pulse-yellow {
	0% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    background-color: rgba(255, 177, 66, 1);
	}
	70% {
    box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0);
	}
	100% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0);
	}
}

.chapter-image{
  margin-bottom: 15px;
  height: 50px;
}

.last-text{
  height: 100px;
}

.hof_row{
  text-align:center;
  margin:0 auto;
}

.hof_row .hof_col{
 display:inline-block;
 vertical-align: middle;
 float: none;
 padding-right: 10px;
 padding-left: 10px;
}

.timer{
  text-align: center;
    margin-top: 100px;
    font-family: 'Title';
    font-weight: bold;
    font-style: normal;
    color: #5dbcd2;
    font-size: 50px;
}

.align_left{
  text-align: left;
}













/* ---------TEAMPAGE---------- */
.teampage_logo_img{
  height: 60px;
  z-index: 99;
}

.teampage_logo_txt{
height: 100px;
z-index: 9;
}

.teampage_fplogo_col{
  text-align: left;
}

.teampage_logo_div{
  text-align: left;

}

.teamname{
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  margin-top: 185px;
  padding-left: 15px;
  padding-right: 15px;
}

.teampage_team_img{
  height: 150px;
  z-index: 99;
  position: absolute;
  top: 27px;
  left: 15px;
  animation-name: team_logo_bounce;
  animation-duration: 1.5s;
}

.teams_footer-settings{
  background-color: #662483;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  border-top: 5px solid #de69a6;
}

.teams_fplogo_header_image{
  height: 35px;
}

@keyframes team_logo_bounce {
 0% { transform: scale(1); opacity: 1 }
  20% { transform: scale(1.1); opacity: 1; }
  40% { transform: scale(0.9); opacity: 1 }
50% { transform: scale(1) }	
}


.teampage_table_por{
  margin-top: 20px;
  border: 0px !important;
}

.teampage_table{
  border: 0px !important;
}

.no_border{
  border: 0px !important;
}

.teampage_th{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 0px !important;
}

.teampage_last_td{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.thead{
  background-color: #662483;
  font-family: 'Title';
  font-weight:bolder;
  font-style:normal;
  color: white;
  text-align: center
}

.teamtab tr{
  background-color: #2f90a9;
  font-family: 'Title';
  font-weight:bolder;
  font-style:normal;
  color: white;
  ;
}


/* LAG */

#teampage_lag_navbar {
  overflow: hidden;
  background-color: #996f22; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_lag_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #1f294b 10%, #12182b 100%); 
}



/* PSG */

#teampage_psg_navbar {
  overflow: hidden;
  background-color: #002857; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_psg_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #831d20 10%, #5c151a 100%); 
}



/* PNK */

#teampage_pnk_navbar {
  overflow: hidden;
  background-color: #0e2247; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_pnk_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #917400 10%, #5c4b00 100%); 
}


/* RUB */

#teampage_rub_navbar {
  overflow: hidden;
  background-color: #491800; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_rub_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #003d21 10%, #002b17 100%); 
}


/* BLV */

#teampage_blv_navbar {
  overflow: hidden;
  background-color: #12421e; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_blv_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #917400 10%, #5c4b00 100%); 
}


/* CAV */

#teampage_cav_navbar {
  overflow: hidden;
  background-color: #361a4d; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_cav_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #85361b 10%, #522313 100%); 
}


/* PSN */

#teampage_psn_navbar {
  overflow: hidden;
  background-color: #363636; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_psn_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #003b6b 10%,#00213b 100%); 
}


/* FCP */

#teampage_fcp_navbar {
  overflow: hidden;
  background-color: #741823; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_fcp_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #07264d 10%,#041831 100%); 
}


/* DIN */

#teampage_din_navbar {
  overflow: hidden;
  background-color: #a07b2b; 
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_din_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #a15707 10%,#683903 100%); 
}


/* COR */

#teampage_cor_navbar {
  overflow: hidden;
  background-color: #521015;
  /* background-image: linear-gradient(to bottom, #00026e 15%, #6d6600 100%);  */
  padding: 33px 10px; /* Large padding which will shrink on scroll (using JS) */
  position: absolute; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index:1;
  border-bottom: 5px solid white;
}

.teampage_cor_bgcolor{
  /* background-color: #eead30; */
  background-image: linear-gradient(to bottom, #0e2649 10%,#0d2344 100%); 
}
