
@font-face {
    font-family: "Title";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff")
    }

    :root {
      --vio: #662483; 
      --ros: #de69a6;
      --cel: #2f90a9;
      --oro: #CB9C31;
      --ner : rgb(46, 46, 46);
    }

    

.bg_color {
    background-color: var(--vio);
    /* background-image: linear-gradient(to bottom, var(--vio) 15%, #461959 100%);  */

}

.cup{
    background-color: var(--cel);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    padding: 4rem 0;
}

.cup h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  margin-top: 0px !important;
}

.navbar_footer_bg_color{
    background-image: linear-gradient(to bottom, var(--vio) 74%, var(--cel) 100%); 
    /* background-color: var(--cel); */
}

.hof_color{
  /* border-top: 5px solid var(--ros); */
  background-color: var(--oro);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding-top: 2rem;
}

.color_white{
	color: white;
}
.color-ros{
	color: var(--ros);
}
.color-vio{
	color: var(--vio);
}
.color-cel{
	color: var(--cel);
}

.material-icons.md-36 { 
  font-size: 36px; 
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.logo_img{
    height: 120px;
    z-index: 99;
}

.logo_txt{
  height: 100px;
  z-index: 0;
}

.highlight-text{
  color : var(--cel);
}
.highlight-text-vio{
  color : var(--vio);
}

.title_text{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
}

.title_text_hall{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  margin-top: 0px !important;
}

.title-font{
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
    margin-top: 10px;
}

.chapter-text{
    text-align: center;
    margin-top: 40px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: var(--ros);
}

.simple_text{
    text-align: left;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
    padding-right: 15px;
}

.year_text_hall{
  text-align: center;
  margin-top: 10px;
  font-family: 'Title';
  font-weight:normal;
  font-style:normal;
  color: white;
}

.credits_text{
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}


.navbar-header{
    width:100%;
  }
  
.navbar-logo{
    display: block;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
  }

.navbar-brand{
    justify-content:center;
    width:100%;
    }      

.footer-settings{
  padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0px !important;
    border-radius: 20px;
}

.footer-credits{
    /* padding-right: 5px; */
    text-align: center;
    /* float: right; */
}

.footer-image{
    height: 40px;
    margin-top: -10px;
}


  div.scrollmenu {
    /* background-color: var(--ros); */
    background-image: linear-gradient(to bottom, var(--cel) 15%, #1e5a69 100%); 
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
  div.scrollmenu img {
    display: inline-block;
    margin-left: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    position: static;
  }

.lastteam{
	margin-right: 14px;
}

.scrollmenu_hall_of_fame {
    background-color: var(--oro);
    overflow: scroll;
    text-align: center;
    white-space: nowrap;
    display: grid;
    justify-content: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
.scrollmenu_hall_of_fame img {
    height: 70px;
  }


  /*****/
  /* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: var(--cel);
    padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: static; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    justify-content:center;
    text-align: center;
    /* border-bottom: 5px solid var(--vio); */
  }

  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  

  ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul.star {
    list-style-type: "\2726";
    content: "\2726";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    /* width: 1em; /* Also needed for space (tweak if needed) */
    /* margin-left: -1em; Also needed for space (tweak if needed) */ 
  }

.chapter-image{
  height: 48px;
}

.last-text{
  height: 100px;
}

.hof_row{
  text-align:center;
  margin:0 auto;
}

.hof_row .hof_col{
 display:inline-block;
 vertical-align: middle;
 float: none;
 padding-right: 10px;
 padding-left: 10px;
padding-bottom: 30px !important;

}


.timer{
  text-align: center;
    margin-top: 100px;
    font-family: 'Title';
    font-weight: bold;
    font-style: normal;
    color: #5dbcd2;
    font-size: 50px;
}

.align_left{
  text-align: left;
}



  /* .diag1{
      border-left: 411px solid var(--cel);
      border-bottom: 50px solid transparent;
      width: 100%;
  } */





.link-container{
  padding-bottom: 10px;
}

.rapid-links{
  text-align: right;
  margin-right: 15px !important;
  float: right;
  margin-top: -20px;
}

.rapid-link-elem{
  width: 48px;
  padding: 0px !important;
  color: var(--cel);
  text-decoration: none
}

.teams{
  text-align: center;
  background-color: var(--cel);
  padding-top: 10px;
  padding-bottom: 10px;
}

.teams img{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 67px;
  position: static;
}

html {
  scroll-behavior: smooth;
}

.backToTop{
  margin-left: 20px;
}

.leagueLink{
  padding-top: 2px !important;
  width: 45px;
  margin-right: 5px !important;
}

.fgLink{
  padding-top: 2px !important;
  width: 38px;
  margin-right: 5px !important;
}

.btnFloat{
	position:fixed;
	width:50px;
	height:50px;
	bottom:-50px;
	right:10px;
	background-color:var(--ros);
  color:white;
  border-radius: 45px;
	text-align:center;
  /* box-shadow: 2px 2px 3px #461959; */
  z-index: 99;
  opacity: 0;
  transition: all .2s ease
}

.showBtn {
    opacity: 1;
    bottom: 110px !important;
}

.progress-bar-box {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  /* background: var(--cel); */
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: var(--ros) !important;
  width: 0%;
}


.install-butt{
  background-color: var(--ros);
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  font-size: 25px;
  padding-bottom: 7px;
  border-color: var(--ros);
}

.container-settings{
    margin-top: 30px;
  }

.install-trigger{}





/*--------------------------------------------- INDEX2 ---------------------------------------------*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/









html,body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr; */

  display: grid;
  grid-template-columns: minmax(min-content, 1024px);
  justify-content: center;
  grid-template-rows: min-content min-content 1fr;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

main > article {
scroll-snap-align: start;
scroll-snap-stop: always;
}

article{
  height: 100%;
  overflow-y: auto;
  --padding-size: 1em;
  padding: var(--padding-size);
}

.logo-img-2{
  height: 50px;
  /* margin-left: 10px; */
  /* z-index: 99; */
}

.logo-txt-2{
  height: 49px;
  z-index: 0;
}

.logo-img-footer{
  height: 30px;
  /* margin-left: 10px; */
  /* z-index: 99; */
}

.logo-txt-footer{
  height: 29px;
  z-index: 0;
}

.team-row{
  padding-bottom: 15px;
}

.team-img-2{
  height: 85px;
  position: relative;
  z-index: 2;
}

.team-img-2-right{
  right: 27px;
}

.team-name{
  border-radius:8px;
}

.team-name-tm{
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  font-size: 25px;
}

#navbar-2 {
  overflow: hidden;
  background-color: var(--cel);
  padding: 15px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  justify-content:center;
  text-align: center;
  /* border-bottom: 5px solid var(--vio); */
}


.menu-padding{
  padding-top: 85px;
  height : 140px;
}

.bg-cel{
  background-color: var(--cel);
}

.bg-ner{
background-color: var(--ner);
}

.bg-oro{
  background-color: var(--oro);
}

.bg-ros{
  background-color: var(--ros);
}

aside {
  float: left;
  width: 20em;
  max-width: 100%;
  background-color: var(--color4);
  margin: .5em 1em .5em 0;
  padding: .5em;
  color: white;
  border: 1px solid rgba(0,0,0,0.5); 
  box-shadow: 0 0 10em -4em rgba(0,0,0,0.4) inset;
}


nav {
  display: flex;
}

nav > a {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
/*   border: 1px solid darksalmon; */
  border-width: 1px 1px 0 0;
  padding: 1em;
  color: black;

}

div > a.focus >i {
  color: var(--ros);
  fill: var(--ros)
}


li > a {
  padding: 1em;
  display: inline-block;
  flex: 1;
}

.no-bullet{
  list-style: none;
}

.league-ball {
  display: inline-block;
  width: 48px;
  height: 46px;
  background-size: cover;
  background-image: url("img/logoball_cyan.svg");
  filter: invert(49%) sepia(26%) saturate(1091%) hue-rotate(145deg) brightness(94%) contrast(87%);
}


div > a.focus >span {
  filter: invert(60%) sepia(29%) saturate(2592%) hue-rotate(294deg) brightness(96%) contrast(80%);
}

div > svg > a.focus >path {
  filter: invert(60%) sepia(29%) saturate(2592%) hue-rotate(294deg) brightness(96%) contrast(80%);
  fill: var(--ros);
}

.copyright-settings{
  border-bottom-style: ridge;
  border-bottom-color: var(--vio);
}

.copyright-logo{
  background-color: var(--vio);
  border-radius: 30px;
  height: fit-content;
  color: white;
}

.copyright-text{
  color: white;
  font-weight: bold;
  font-family: 'Title';
  font-size: 20px;
}

.shirt-logo{
  width:48px;
  height:48px;
}

.shirt-logo-color{
  fill: var(--cel);
}

.footer-logo{
padding-top: 45px;
}


/* TEAMS BG */

.bg-teams-arr-r{
  background-image: linear-gradient(to right, var(--ner) 5%, rgb(100, 0, 100) 40%); 
}

.bg-teams-ast-l{
  background-image: linear-gradient(to left, var(--ner) 5%, rgb(124, 101, 0) 40%); 
}

.bg-teams-lev-r{
  background-image: linear-gradient(to right, var(--ner) 5%, rgb(0, 78, 0) 40%); 
}

.bg-teams-din-l{
  background-image: linear-gradient(to left, var(--ner) 5%, rgb(124, 60, 0) 40%); 
}

.bg-teams-fcp-r{
  background-image: linear-gradient(to right, var(--ner) 5%, rgb(109, 16, 0)40%); 
}

.bg-teams-lag-l{
  background-image: linear-gradient(to left, var(--ner) 5%, rgb(93, 84, 0) 40%); 
}

.bg-teams-pannik-r{
  background-image: linear-gradient(to right, var(--ner) 5%, rgb(27, 0, 100) 40%); 
}

.bg-teams-psg-l{
  background-image: linear-gradient(to left, var(--ner) 5%, rgb(124, 25, 0) 40%); 
}

.bg-teams-psa-r{
  background-image: linear-gradient(to right, var(--ner) 5%, rgb(19, 0, 88)40%); 
}

.bg-teams-rbk-l{
  background-image: linear-gradient(to left, var(--ner) 5%, rgb(3, 80, 0) 40%); 
}

/* ---------------- */