
@font-face {
    font-family: "Title";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff")
    }

.bg_color {
    background-color: #662483;
}

.navbar_bg_color{
  
    background-color: #2f90a9;
}

.navbar_footer_bg_color{
    background-image: linear-gradient(to bottom, #662483 74%, #2f90a9 100%); 
    /* background-color: #2f90a9; */
}

.space_color{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #662483;
    height: 40px;
}

.logo_img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
}

.title_text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
}

.title-font{
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
    margin-top: 10px;
}

.chapter-text{
    text-align: center;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: #de69a6;
}

.simple_text{
    text-align: left;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}

.credits_text{
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2726";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  

.navbar-header{
    width:100%;
  }
  
.navbar-logo{
    display: block;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
  }

.navbar-brand{
    justify-content:center;
    width:100%;
    }      

.footer-settings{
    background-color: #2f90a9;
    background-image: linear-gradient(to bottom, #662483 0%, #2f90a9 10%); 
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.footer-inner{
    padding-right: 5px;
}

.footer-image{
    height: 50px;
    margin-top: -10px;
}

  div.scrollmenu {
    background-color: #de69a6;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    height: 900%;
  }::-webkit-scrollbar {
    width: 0px;
}
  
  div.scrollmenu img {
    display: inline-block;
    
    padding: 14px;
    margin-top: 10px;
    width: 80px;
  }