
@font-face {
    font-family: "Title";
    src: url("fonts/didactgothic-regular-webfont.woff") format("woff")
    }

.bg_color {
    /* background-color: #662483; */
    background-image: linear-gradient(to bottom, #662483 15%, #461959 100%); 

}

.cup{
    background-color: #257488;
}

.cup h1{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  margin-top: 0px !important;
}

.navbar_footer_bg_color{
    background-image: linear-gradient(to bottom, #662483 74%, #2f90a9 100%); 
    /* background-color: #2f90a9; */
}

.hof_color{
  /* border-top: 5px solid #de69a6; */
  background-color: #a88f00;
}

.color_white{
	color: white;
}

.material-icons.md-36 { 
  font-size: 36px; 
}

.material-icons.md-48 { 
  font-size: 48px; 
}

.logo_img{
    height: 120px;
    z-index: 99;
}

.logo_txt{
  height: 100px;
  z-index: 0;
}

.title_text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
}

.title_text_hall{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  margin-top: 0px !important;
}

.title-font{
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: white;
    margin-top: 10px;
}

.chapter-text{
    text-align: center;
    margin-top: 80px;
    font-family: 'Title';
    font-weight:bold;
    font-style:normal;
    color: #de69a6;
}

.simple_text{
    text-align: left;
    margin-top: 30px;
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
    padding-right: 15px;
}

.year_text_hall{
  text-align: center;
  margin-top: 10px;
  font-family: 'Title';
  font-weight:normal;
  font-style:normal;
  color: white;
}

.credits_text{
    font-family: 'Title';
    font-weight:normal;
    font-style:normal;
    color: white;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2726";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  

.navbar-header{
    width:100%;
  }
  
.navbar-logo{
    display: block;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
  }

.navbar-brand{
    justify-content:center;
    width:100%;
    }      

.footer-settings{
    background-color: rgb(46, 46, 46);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0px !important;
}

.footer-credits{
    padding-right: 5px;
    text-align: right;
    float: right;
}

.footer-image{
    height: 30px;
    margin-top: -10px;
}


  div.scrollmenu {
    /* background-color: #de69a6; */
    background-image: linear-gradient(to bottom, #2f90a9 15%, #1e5a69 100%); 
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
  div.scrollmenu img {
    display: inline-block;
    margin-left: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    position: static;
  }

.lastteam{
	margin-right: 14px;
}

.scrollmenu_hall_of_fame {
    background-color: #a88f00;
    overflow: scroll;
    text-align: center;
    white-space: nowrap;
    display: grid;
    justify-content: center;
  }::-webkit-scrollbar {
    width: 0px;
}
  
.scrollmenu_hall_of_fame img {
    height: 70px;
  }


  /*****/
  /* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #2f90a9;
    padding: 50px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: static; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    justify-content:center;
    text-align: center;
    /* border-bottom: 5px solid #662483; */
  }

  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  

  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }
  
.champion-badge {
  border-radius: 0px 0px 100px 100px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 0 rgb(170, 125, 9);
  animation: pulse-yellow 2.5s infinite;
    
}

.champion-circle {
  border-radius: 70%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	box-shadow: 0 0 0 0 rgb(170, 125, 9);
  animation: pulse-yellow 2s infinite;
    
}

@keyframes pulse-yellow {
	0% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
    background-color: rgba(255, 177, 66, 1);
	}
	70% {
    box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0);
	}
	100% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0);
	}
}

.chapter-image{
  height: 48px;
}

.last-text{
  height: 100px;
}

.hof_row{
  text-align:center;
  margin:0 auto;
}

.hof_row .hof_col{
 display:inline-block;
 vertical-align: middle;
 float: none;
 padding-right: 10px;
 padding-left: 10px;
}

.timer{
  text-align: center;
    margin-top: 100px;
    font-family: 'Title';
    font-weight: bold;
    font-style: normal;
    color: #5dbcd2;
    font-size: 50px;
}

.align_left{
  text-align: left;
}

.FGLink{
  background-color: rgb(46, 46, 46);
  text-align: center;
  font-family: 'Title';
  font-weight:bold;
  font-style:normal;
  color: white;
  font-size: 25px;
  padding-top: 15px;
}

.rotateimg-30 {
  -webkit-transform:rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}



/* @media (min-width: 1200px) { ... } */

/* @media (min-width: 768px) and (max-width: 979px) { ... } */

@media (max-width: 767px) { 
  
  .diag1{
      border-left: 411px solid rgb(46, 46, 46);
      border-bottom: 50px solid transparent;
  }

  .diag2{
    border-left: 411px solid #4a1b5f;
    border-bottom: 50px solid transparent;
    background-color: #257488;
  }

  .diag3{
    border-left: 411px solid #257488;
    border-bottom: 50px solid transparent;
    background-color: #a88f00;
    margin-top: -16px;
  }

  .diag4{
    border-left: 411px solid #a88f00;
    border-bottom: 50px solid transparent;
    background-color: rgb(46, 46, 46);
  }

}

/* @media (max-width: 480px) { ... } */

@media (max-width: 375px) { 

  .diag1{
      border-left: 375px solid rgb(46, 46, 46);
      border-bottom: 50px solid transparent;
  }
  
  .diag2{
    border-left: 375px solid #4a1b5f;
    border-bottom: 50px solid transparent;
    background-color: #257488;
  }
  
  .diag3{
    border-left: 375px solid #257488;
    border-bottom: 50px solid transparent;
    background-color: #a88f00;
    margin-top: -16px;
  }
  
  .diag4{
    border-left: 375px solid #a88f00;
    border-bottom: 50px solid transparent;
    background-color: rgb(46, 46, 46);
  }
  
}

@media (max-width: 360px) { 

  .diag1{
      border-left: 360px solid rgb(46, 46, 46);
      border-bottom: 50px solid transparent;
  }

  .diag2{
    border-left: 360px solid #4a1b5f;
    border-bottom: 50px solid transparent;
    background-color: #257488;
  }

  .diag3{
    border-left: 360px solid #257488;
    border-bottom: 50px solid transparent;
    background-color: #a88f00;
    margin-top: -16px;
  }

  .diag4{
    border-left: 360px solid #a88f00;
    border-bottom: 50px solid transparent;
    background-color: rgb(46, 46, 46);
  }

}



.link-container{
  padding-bottom: 10px;
}

.rapid-links{
  text-align: right;
  margin-right: 15px !important;
  margin-bottom: 20px;
  float: right;
  margin-top: -20px;
}

.rapid-link-elem{
  width: 48px;
  padding: 0px !important;
  color: #2f90a9;
  text-decoration: none
}

.teams{
  text-align: center;
  background-image: linear-gradient(to bottom, #2f90a9 15%, #1e5a69 100%); 
  padding-top: 10px;
  padding-bottom: 10px;
}

.teams img{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 67px;
  position: static;
}

html {
  scroll-behavior: smooth;
}

.backToTop{
  margin-left: 20px;
}

.leagueLink{
  padding-top: 2px !important;
  width: 45px;
  margin-right: 5px !important;
}

.btnFloat{
	position:fixed;
	width:50px;
	height:50px;
	bottom:-50px;
	right:10px;
	background-color:#de69a6;
  color:white;
  border-radius: 45px;
	text-align:center;
  box-shadow: 2px 2px 3px #461959;
  z-index: 99;
  opacity: 0;
  transition: all .2s ease
}

.showBtn {
    opacity: 1;
    bottom: 75px !important;
}

/* 
.progress {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 5px;
  background: #de69a6;
  width: 0%;
} */